<div>
    <img src="{{section.settings.banner_img | img_url:'1400x400'}}" alt=""> 

    <div class="about-body">
        
        <div class="container">
            <h1 class="custom-title"> {{section.settings.title_one}} </h1>
            <p>{{section.settings.body_one}}</p>
            <!-- <h1 class="custom-title"> {{section.settings.title_two}} </h1> -->
            <p>{{section.settings.body_two}}</p>
            <p>{{section.settings.body_three}}</p>
            <p>{{section.settings.body_four}}</p>
            <p>{{section.settings.body_five}}</p>
            <p>{{section.settings.body_six}}</p>
            <p>{{section.settings.body_seven}}</p>
        </div>
        
        <div class="team-area">
          <p class="team-heading">The Team</p>
          <p class="container team-subheading">Meet the incredible brains behind Oriental Selected.</p>
          <div class="stretch">
          <div class="column-one">
            
            <img src="{{section.settings.teamate_one | img_url:'850x1100'}}" alt="team-image"/>
            <div class="team-details">
              <p class="teamate-name">{{section.settings.name_one}}</p>
              <p class="teamate-position">{{section.settings.position_one}}</p>
            </div>
            
          </div>
          <div class="column-two">
            <img src="{{section.settings.teamate_two | img_url:'850x1100'}}" alt="team-image"/>
            <div class="team-details">
              <p class="teamate-name">{{section.settings.name_two}}</p>
              <p class="teamate-position">{{section.settings.position_two}}</p>
            </div>
            
          </div>
          <div class="column-three">
            <img src="{{section.settings.teamate_three | img_url:'850x1100'}}" alt="team-image"/>
            <div class="team-details">
              <p class="teamate-name">{{section.settings.name_three}}</p>
              <p class="teamate-position">{{section.settings.position_three}}</p>
            </div>
            
          </div>
          <div class="column-four">
            <img src="{{section.settings.teamate_four | img_url:'850x1100'}}" alt="team-image"/>
            <div class="team-details">
              <p class="teamate-name">{{section.settings.name_four}}</p>
              <p class="teamate-position">{{section.settings.position_four}}</p>
            </div>
            
          </div>
          
        </div>
        <div class="stretch">
          <div class="column-one">
            
            <img src="{{section.settings.teamate_five | img_url:'850x1100'}}" alt="team-image"/>
            <div class="team-details">
              <p class="teamate-name">{{section.settings.name_five}}</p>
              <p class="teamate-position">{{section.settings.position_five}}</p>
            </div>
          </div>
          <div class="column-two">
            <img src="{{section.settings.teamate_six | img_url:'850x1100'}}" alt="team-image"/>
            <div class="team-details">
              <p class="teamate-name">{{section.settings.name_six}}</p>
              <p class="teamate-position">{{section.settings.position_six}}</p>
            </div>
            
          </div>
          <div class="column-three">
            <img src="{{section.settings.teamate_seven | img_url:'850x1100'}}" alt="team-image"/>
            <div class="team-details">
              <p class="teamate-name">{{section.settings.name_seven}}</p>
              <p class="teamate-position">{{section.settings.position_seven}}</p>
            </div>
            
          </div>
          <div class="column-four">
            <img src="{{section.settings.teamate_eight | img_url:'850x1100'}}" alt="team-image"/>
            <div class="team-details">
              <p class="teamate-name">{{section.settings.name_eight}}</p>
              <p class="teamate-position">{{section.settings.position_eight}}</p>
            </div>
            
          </div>
          
        </div>
        <div class="stretch">
          <div class="column-one">
            
            <img src="{{section.settings.teamate_nine | img_url:'850x1100'}}" alt="team-image"/>
            <div class="team-details">
              <p class="teamate-name">{{section.settings.name_nine}}</p>
              <p class="teamate-position">{{section.settings.position_nine}}</p>
            </div>
          </div>
          <div class="column-two">
            <img src="{{section.settings.teamate_ten | img_url:'850x1100'}}" alt="team-image"/>
            <div class="team-details">
              <p class="teamate-name">{{section.settings.name_ten}}</p>
            <p class="teamate-position">{{section.settings.position_ten}}</p>
            </div>
            
          </div>
          <div class="column-three">
           
            
          </div>
          <div class="column-four">
            
            
          </div>
          
        </div>
      </div>
        <div class="powr-form-builder" id="a3c7d783_1586853211"></div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Custom Content",

    "settings": [
      {
        "type":"image_picker",
        "id":"banner_img",
        "label":"Banner Image"
      },
      
      {
        "type":"text",
        "id":"title_one",
        "label":"Heading"
      },
      {
        "type":"text",
        "id":"body_one",
        "label":"Paragraph"
      },
      {
        "type":"text",
        "id":"title_two",
        "label":"Heading"
      },
      {
        "type":"text",
        "id":"body_two",
        "label":"Paragraph"
      },
      {
        "type":"text",
        "id":"body_three",
        "label":"Paragraph"
      },
      {
        "type":"text",
        "id":"body_four",
        "label":"Paragraph"
      },
      {
        "type":"text",
        "id":"body_five",
        "label":"Paragraph"
      },
      {
        "type":"text",
        "id":"body_six",
        "label":"Paragraph"
      },
      {
        "type":"text",
        "id":"body_seven",
        "label":"Paragraph"
      },
      {
        "type":"image_picker",
        "id":"teamate_one",
        "label":"Team Image One"
      },
      {
        "type":"text",
        "id":"name_one",
        "label":"Team Name One"
      },
      {
        "type":"text",
        "id":"position_one",
        "label":"Team Position One"
      },
      
      {
        "type":"image_picker",
        "id":"teamate_two",
        "label":"Team Image Two"
      },
      {
        "type":"text",
        "id":"name_two",
        "label":"Team Name Two"
      },
      {
        "type":"text",
        "id":"position_two",
        "label":"Team Position Two"
      },
      {
        "type":"image_picker",
        "id":"teamate_three",
        "label":"Team Image Three"
      },
      {
        "type":"text",
        "id":"name_three",
        "label":"Team Name Three"
      },
      {
        "type":"text",
        "id":"position_three",
        "label":"Team Position Three"
      },
      {
        "type":"image_picker",
        "id":"teamate_four",
        "label":"Team Image Four"
      },
      {
        "type":"text",
        "id":"name_four",
        "label":"Team Name Four"
      },
      {
        "type":"text",
        "id":"position_four",
        "label":"Team Position Four"
      },

      {
        "type":"image_picker",
        "id":"teamate_five",
        "label":"Team Image Five"
      },
      {
        "type":"text",
        "id":"name_five",
        "label":"Team Name"
      },
      {
        "type":"text",
        "id":"position_five",
        "label":"Team Position Six"
      },
      {
        "type":"image_picker",
        "id":"teamate_six",
        "label":"Team Image Six"
      },
      {
        "type":"text",
        "id":"name_six",
        "label":"Team Name Ten"
      },
      {
        "type":"text",
        "id":"position_six",
        "label":"Team Position Six"
      },
      {
        "type":"image_picker",
        "id":"teamate_seven",
        "label":"Team Image Seven "
      },
      {
        "type":"text",
        "id":"name_seven",
        "label":"Team Name "
      },
      {
        "type":"text",
        "id":"position_seven",
        "label":"Team Position Seven"
      },
      {
        "type":"image_picker",
        "id":"teamate_eight",
        "label":"Team Image Eight"
      },
      {
        "type":"text",
        "id":"name_eight",
        "label":"Team Name Eight"
      },
      {
        "type":"text",
        "id":"position_eight",
        "label":"Team Position Eight"
      },
      {
        "type":"image_picker",
        "id":"teamate_nine",
        "label":"Team Image Nine"
      },
      {
        "type":"text",
        "id":"name_nine",
        "label":"Team Name Ten"
      },
      {
        "type":"text",
        "id":"position_nine",
        "label":"Team Position Nine"
      },
      {
        "type":"image_picker",
        "id":"teamate_ten",
        "label":"Team Image Ten"
      },
      {
        "type":"text",
        "id":"name_ten",
        "label":"Team Name Ten"
      },
      {
        "type":"text",
        "id":"position_ten",
        "label":"Team Position Ten"
      }
      ],
      
    "presets": [
    {
      "category": "Top Banner",
      "name": "Text"
     
      
}
]
    }
    {% endschema %}